a {
  display: block;
}

.App {
  text-align: center;
}

.dropdown-categories__wrapper {
  /* border: 1px solid green; */
  margin-top: 8rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}

.dropdown-categories__title {
  /* border: 1px solid red; */
  font-weight: normal;
  font-size: 16px;
  justify-self: end;
}

.dropdown-categories__dropdown {
  /* border: 1px solid yellowgreen; */
  justify-self: start;
}

.dropdown-categories__handler {
  align-items: center;
  border: 1px solid gray;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  padding: 0.2rem 1rem;
  position: relative;
  width: 160px;
}

.v {
  background-color: lightblue;
}

.dropdown-categories__list {
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-flow: column;
  max-width: 50rem;
  min-width: 180px;
  position: absolute;
  top: 193px;
  width: max-content;
  padding-top: 10px;
}

.dropdown-categories__name:hover {
  background-color: aqua;
}

.dropdown-categories__footer {
  border-top: 1px solid gray;
  padding: 14px 20px;
  margin-top: 18px;
}

/* Modal */

.modal__wrapper {
  background-color: lightgray;
}


